# Python cache and environment
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/
env.bak/
*.env

# VS Code settings
.vscode/

# Uploads folder
uploads/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
build\*

# Build folders
build/
